.contato {
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-column: 2 / 4;
  gap: 20px;
  margin-bottom: 4rem;
}

.mapa {
  grid-column: 2;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
  color: #222;
}

.dados li::before {
  display: inline-block;
  content: '';
  background: #Fb5;
  width: 20px;
  height: 10px;
  margin-right: 10px;
}